<a href="https://colab.research.google.com/github/BernasconiLorenzo06/verifiche-corrette/blob/main/VERIFICA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

1. caricare i dati del file in un dataframe Pandas

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Medals.xlsx")

In [ ]:
df

2. visualizzare il totale delle medaglie delle prime 10 nazioni

In [ ]:
df[:10]["Total"].sum()

3. visualizzare la nazione (o le nazioni) che ha vinto, in totale, meno medaglie

In [ ]:
df[df["Total"]==df["Total"].min()][["Team/NOC"]]

4. visualizzare le nazioni che hanno vinto più medaglie di bronzo rispetto alle medaglie d'argento

In [ ]:
df[(df["Bronze"]>df["Silver"])]

5. visualizzare il numero di nazioni che non hanno vinto medaglie d'oro

In [ ]:
df[(df["Gold"]==0)]

6. visualizzare il numero totale di medaglie d'oro e d'argento

In [ ]:
df["Gold"] = df["Gold"] + df["Silver"]
df["Gold"]

7. visualizzare la nazione che ha vinto più medaglie di bronzo

In [ ]:
df[df["Bronze"]==df["Bronze"].max()][["Team/NOC"]]

8. visualizzare le nazioni che non hanno vinto medaglie d'argento

In [ ]:
df[(df["Silver"]==0)]

9. visualizzare le nazioni che hanno vinto un numero di medaglie d'argento superiore alla media

In [ ]:
df[(df["Silver"]>df["Silver"].mean())]

10. caricare i dati del file in un dataframe Pandas

In [ ]:
dt=pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Athletes.xlsx")
dt

11. visualizzare i nomi degli atleti italiani

In [ ]:
dt[(dt["NOC"]=="Italy")]

12. controllare se gli atleti italiani sono di più o di meno degli atleti francesi

In [ ]:
if len(dt[(dt["NOC"]=="Italy")])> len(dt[(dt["NOC"]=="France")]):
  print("Ci sono più italiani")
else:
  print("Ci sono più francesi")

13. visualizzare tutti gli atleti che si chiamano Giovanni

In [ ]:
dt[dt["Name"].str.contains("Giovanni")]

14. visualizzare gli atleti che si chiamano Alberto ma che non sono italiani

In [ ]:
dt[(dt["Name"].str.contains("Alberto")) & (dt["NOC"]!="Italy")]

15 visualizzare il numero di atleti della squadra di basket spagnola

In [ ]:
len(dt[(dt["NOC"]=="Spain") & (dt["Discipline"]=="Basketball")])

16. visualizzare i dati del dataframe ordinati in ordine alfabetico sulla disciplina

In [ ]:
dt.sort_values(by=["Discipline"])

17. visualizzare gli atleti scandinavi

In [ ]:
dt[(dt["NOC"]=="Norway") | (dt["NOC"]=="Sweden") | (dt["NOC"]=="Finland") | (dt["NOC"]=="Iceland")]

18. eliminare tutti gli atleti della Francia

In [ ]:
del (dt[(dt["NOC"]=="France")])